<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Flash Back</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec 2013</h4>
                                    <h4 class="subheading">Woh aa gaya, dekho dekho woh aa gaya</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Someone said "Someone's got to make sure that this dock stays off-limits to civilians." On which she says "It's a fine goal, to be sure. But it seems to me... that a ship like that one, makes this one here seem a bit superfluous, really." </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb 2014</h4>
                                    <h4 class="subheading">To the Shore George</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The sea was angry that day my friends, like an old man trying to return soup at a deli!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2014</h4>
                                    <h4 class="subheading">You like Sushi and Clam chowder too?! </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The dates never stopped. She couldnt help but visit the Bay! Love followed!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2014</h4>
                                    <h4 class="subheading">San Fran help</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A visit to Kirby Cove just sealed the deal. He becomes an overnight superstar!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Does it matter?!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">By this time it didnt matter if it was a local San Jose bar or a nice beach side restaurant @ Half Moon Bay. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2014</h4>
                                    <h4 class="subheading">Gates, Space neddle and House boats</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The experience of Ganesh festival taken to the next level in Seattle is something he will always cherish.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2014</h4>
                                    <h4 class="subheading">Ganesh Festival v1.0</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">They skype together to attend Ganesh festival back home in Pune.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2014</h4>
                                    <h4 class="subheading">Ganesh Festival v2.0</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">He meets her extended family over some Ganpati modaks. Did he care for the modaks more than the relatives is debatable.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
