<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">The love is distributed between the 2 lovely cities of Pune and Mumbai.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-circle-o fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <h4 class="service-heading" color="red">Engagement</h4>
                    <p class="text-muted">5th Feb 2015 @ 7.30pm<br>Gharkul Lawns<br>Karve Road, Pune, MH 411038, India</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <h4 class="service-heading">Sangeet</h4>
                    <p class="text-muted">6th Feb 2015 @ 6.30pm<br>XYZ hall<br>Address</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <h4 class="service-heading">Wedding</h4>
                    <p class="text-muted">10th Feb 2015 @ 12:30pm<br>Gharkul Lawns<br>Karve Road, Pune, MH 411038, India</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <h4 class="service-heading">Reception</h4>
                    <p class="text-muted">10th Feb 2015 @ 7.30pm<br>Gharkul Lawns<br>Karve Road, Pune, MH 411038, India</p>
                </div>
            </div>
        </div>
    </section>
